:root {
    margin: 0;
    font-size: 6.25%;
    box-sizing: border-box;
}

main{
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#main-news{
    width: 100%;
    height: 310rem;

    position: relative;
    text-align: left;
    margin-bottom: 15px;

}

#main-news-img{
    width: 100%;
    height: 310rem;
}

#main-news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #main-news-background{
    width: 100%;
    height: 310rem;
    background-color: #00000056;
    position: absolute;
    bottom: 0;
    transition: background-color 0.3s;
}

#main-news-background:hover{
    background-color: #000000a8;
} */

#main-news a h1{
    background-color: #00000056;
    color: white;
    width: 100%;
    font-size: 30rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 35rem;
    padding-bottom: 15rem;
}

#main-news a h1:hover{
    opacity: 1;
}

#news {
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 0.2);
    width: 100%;
    padding-left: 7.29%;
    padding-right: 7.29%;
    padding-top: 9px;
    padding-bottom: 9px;

}

#news h2 {
    font-size: 20rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 13px;
}

#news .line{
    background-color: #e6e6e6;
    width: 100%;
    height: 1rem;
    margin-bottom: 7px;
}


#news .short-info:not(:last-child){
    margin-bottom: 16px;
}

.short-info a{
    text-decoration: none;
    color: black;
}
.short-info a h3 {
    font-size: 15rem;
    color: #0B4075;
    font-weight: bold;
}

/*matches*/

#matches {
    width: 100%;
    margin-top: 36px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
    /* matches of the day */
#matches-of-the-day {
    width: 100%;
}

#matches-of-the-day h2{
    font-size: 30rem;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-bottom: 15rem;
}

#matches-card {
    background-color: white;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16rem 7.29%;
}


#matches-card a{
    font-size: 25rem;
    font-weight: 700;
    color: #0B4075;
    margin-top: 20rem;
    margin-bottom: 20rem;
}

#matches-card a:first-child{
    margin-top: 0;
}

#matches-card a:last-child{
    margin-bottom: 0;
}

#matches-card .line{
    width: 100%;
    height: 3rem;
    background-color: #e6e6e6;
}

    /* matches card */

#main-clashes{
    width: 100%;
}

#main-clashes h2{
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 15rem;

}

#clashes-card{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 50rem 13.33%;
}

#clashes-card .match{
    margin-bottom: 62rem;
}

#clashes-card .match:last-child {
    margin-bottom: 0;
}

.match{
    font-size: 35rem;
    font-weight: 700;
    color: #333333;
    display: flex;
    justify-content: space-between;
}

.match-flags{
    width: 17.5%;
    height: 50rem;
}

.match-flags img{
    width: 100%;
    height: 50rem;
}

#half-data-cards{
    width: 79.37%;
    margin-top: 86rem;
    margin-left: auto;
    margin-right: auto;

}

#player-of-the-match h2{
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 15rem;
}

#player-statistics h2{
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
    text-align: center;
}

#player-of-the-match .data-card{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 40rem 9.18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#player-profile-pic{
    width: 100rem;
    height: 100rem;
    border-radius: 50%;
}

#player-profile-pic img{
    width: 100%;
    border-radius: 50%;
}

#player-first-name{
    font-size: 30rem;
    font-weight: 300;
    color: #333333;
    margin-left: 14rem;
}

#player-last-name{
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
}

#player-country{
    font-size: 25rem;
    font-weight: 300;
    color: #333333;
    margin-left: 14rem;
}

#round-statistics h2{
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-top: 31rem;
    margin-bottom: 15rem;
}

#round-statistics .data-card{
    width: 100%;
    height: 180rem;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 15rem 13.12%;
    text-align: center;
    position: relative;
}

.round-statistics-data{
    width: 99rem;
    position: absolute;
}

.round-statistics-data:nth-child(1){
    top: 15rem;
    left: 50rem;
}

.round-statistics-data:nth-child(2){
    top: 15rem;
    right: 50rem;
}

.round-statistics-data:nth-child(3){
    bottom: 15rem;
    left: 50rem;
}

.round-statistics-data:nth-child(4){
    bottom: 15rem;
    right: 50rem;
}

.data-card .round-statistics-data p:first-child{
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
}

.data-card .round-statistics-data p:last-child{
    font-size: 15rem;
    font-weight: 400;
    color: #333333;
}

/*highlights session*/

#highlights{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30rem;
}

#highlights h2{
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 15rem;
}

.highlight-videos-row{
}

.highlight-videos-row a:hover{
    opacity: 1;
}


.highlight-videos{   
    width: 100%;
    height: 260rem;
    object-fit: cover;
}

.week-highlight-video{
    background-image: url("../img/match-placeholder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-color: gray;
    height: 200px;
    width: 400px;
}

/*Estatísticas*/

#statistics{
    width: 100%;
    margin-top: 95rem;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

#statistics h2{
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
    text-align: center;
}

#statistics .statistic-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 7.29%;
    padding-right: 7.29%;
}

.statistic-row div h3{
    font-size: 20rem;
    font-weight: 400;
}


#statistics div{
    margin-top: 15px;
}

#statistics div.statistic-data{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    width: 183rem;
    height: 115rem;
    display: flex;
    align-items: center;
    text-align: center;
}

div.statistic-data p{
    font-size: 35rem;
    font-weight: 700;
    color: #333333;
}

/* =============1366p LAYOUT============= */

@media (min-width: 1366px) {
    
    main{
        display: flex;
    }

    #main-news{
        width: 45.09%;
        height: 551rem;
    }

    #main-news-img{
        height: 551rem;
    }

    #main-news a h1{
        font-size: 45rem;
        padding-left: 20rem;
        padding-right: 20rem;
        padding-bottom: 20rem;
    }

    #news{
        width: 37.77%;
    }
}