.table-classification {
    margin: auto;
    table-layout: fixed;
    width: 75%;
    margin-top: 5rem;
    margin-bottom: 18rem;
}

.title-table {
    margin-top: 18rem;
    text-align: center;
    font-size: 30rem;
    font-weight: bold;
}

td {
    height: 40rem;
    font-size: 15rem;
}

.bold-tr {
    font-weight: bold;
    border-collapse: collapse;
    border-bottom: solid 2px #CACACA;
}

.td-margin-bottom {
    border-bottom: solid 2px #CACACA;
}

.td-margin-bottom-top {
    border-bottom: solid 2px #CACACA;
    border-top: solid 2px #CACACA;
}

.flag {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.button-arrow {
    width: 18rem;
    height: 18rem;
    background-color: white;
    cursor: pointer;
    border: none;
}

.button-arrow::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 5rem;
    height: 5rem;
    border: 6rem solid transparent;
    border-left: 7px solid #0B4075;
}

.button-arrow.-right::before {
    transform: rotate(180deg) translate(10px);
}

.button-arrow.-right {
    margin-left: 500rem;
}

.button-arrow.-left {
    margin-right: 500rem;
}

#phase {
    font-size: 30rem;
    font-weight: bold;
}

#previous-and-next {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 999px) {
    .table-classification {
        table-layout: auto;
        width: 80%;
    }

    .title-table {
        margin-top: 15rem;
        text-align: center;
        font-size: 25rem;
        font-weight: bold;
    }

    td {
        height: 30rem;
        width: 40rem;
        font-size: 8.5rem;
    }

    .flag {
        width: 8.5rem;
        height: 8.5rem;
        border-radius: 50%;
    }

    #phase {
        font-size: 15rem;
        font-weight: bold;
    }

    .button-arrow.-right {
        margin-left: 20rem;
    }
    
    .button-arrow.-left {
        margin-right: 20rem;
    }
}
