* {
    --blue: #0B4075;
    --gray: #333333;
    --light-gray: #CACACA;
    --white: #FFFFFF;

    margin: 0;
    font-family: Inter;
    font-size: 6.25%;
    color: var(--gray);
    box-sizing: border-box;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 35rem;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30rem;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20rem;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 15rem;
    color: var(--gray);
}

a{
    font-size: 15rem;
    color: var(--blue);
    text-decoration: none;
}


/* =============1366p LAYOUT============= */


@media (min-width: 1366px) {

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 45rem;
    }

    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 35rem;
    }

    h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 25rem;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 20rem;
        color: var(--gray);
    }
}