@import url('global.css');

main {
    width: 100%;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
}

#main-news {
    width: 100%;
    height: 310rem;

    position: relative;
    text-align: left;
    margin-bottom: 15px;

}

#main-news-img {
    width: 100%;
    height: 310rem;
}

#main-news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main-news a h1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 23.44%);
    color: var(--white);
    width: 100%;
    font-size: 35rem;
    position: absolute;
    bottom: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 16rem;
    padding-bottom: 15rem;
}

#main-news a h1:hover {
    opacity: 1;
}

#news {
    background-color: #ffffff;
    border: solid 1px var(--light-gray);
    box-shadow: 0px 1px 2px rgb(0 0 0 / 0.2);
    width: 100%;
    padding-left: 7.29%;
    padding-right: 7.29%;
    padding-top: 16px;
    padding-bottom: 9px;
    position: relative
}

#news h2 {
    font-size: 20rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20rem;
}

#news .line {
    background-color: var(--light-gray);
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    top: 50rem;
}

.short-info:not(:last-child) {
    margin-bottom: 16px;
}

.short-info a {
    text-decoration: none;
    color: black;
}

.short-info a h3 {
    font-size: 15rem;
    color: #0B4075;
    font-weight: bold;
}

/*matches*/

#matches {
    width: 100%;
    margin-top: 36px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

/* matches of the day */
#matches-of-the-day {
    width: 100%;
}

#matches-of-the-day h2 {
    text-align: center;
    margin-bottom: 15rem;
}

#matches-card {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10rem 7.29% 16rem 7.29%;
}

#matches-card a {

    margin-top: 12rem;
    margin-bottom: 19rem;
}


#matches-card a span {
    font-size: 25rem;
    font-weight: 700;
    color: #0B4075;
}

#matches-card a:first-child {
    margin-top: 0;
}

#matches-card a:last-child {
    margin-bottom: 0;
}

#matches-card .line {
    width: 100%;
    height: 3rem;
    background-color: var(--light-gray);
}

.soccer-selection {
    font-size: 25rem;
}


/* matches card */

#main-clashes {
    width: 100%;
}

#main-clashes h2 {
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-top: 36rem;
    margin-bottom: 15rem;

}

#clashes-card {
    background: #FFFFFF;
    border: 1px solid var(--light-gray);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 50rem 13.33%;
}

#clashes-card .match:last-child {
    margin-bottom: 0;
}

.match {
    margin-bottom: 62rem;
    font-size: 35rem;
    font-weight: 700;
    color: #333333;
    display: flex;
    justify-content: space-between;
}

.match-flags {
    width: 23.86%;
    height: 50rem;
}

.match-flags img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#half-data-cards {
    width: 79.37%;
    margin-top: 86rem;
    margin-left: auto;
    margin-right: auto;

}

#player-of-the-match h2 {
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 15rem;
}

#player-statistics h2 {
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
    text-align: center;
}

#player-of-the-match .data-card {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid var(--light-gray);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 40rem 9.18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#player-profile-pic {
    width: 100rem;
    height: 100rem;
    border-radius: 50%;
}

#player-profile-pic img {
    width: 100%;
    border-radius: 50%;
}

#player-first-name {
    font-size: 30rem;
    font-weight: 300;
    color: #333333;
    margin-left: 14rem;
}

#player-last-name {
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
}

#player-country {
    font-size: 25rem;
    font-weight: 300;
    color: #333333;
    margin-left: 14rem;
}

#round-statistics h2 {
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-top: 31rem;
    margin-bottom: 15rem;
}

#round-statistics .data-card {
    width: 100%;
    height: 180rem;
    background: #FFFFFF;
    border: 1px solid var(--light-gray);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 15rem 13.12%;
    text-align: center;
    position: relative;
}

.round-statistics-data {
    width: 99rem;
    position: absolute;
}

.round-statistics-data:nth-child(1) {
    top: 15rem;
    left: 50rem;
}

.round-statistics-data:nth-child(2) {
    top: 15rem;
    right: 50rem;
}

.round-statistics-data:nth-child(3) {
    bottom: 15rem;
    left: 50rem;
}

.round-statistics-data:nth-child(4) {
    bottom: 15rem;
    right: 50rem;
}

.data-card .round-statistics-data p:first-child {
    font-size: 30rem;
    font-weight: 700;
    color: #333333;
}

.data-card .round-statistics-data p:last-child {
    font-size: 15rem;
    font-weight: 400;
    color: #333333;
}

/*highlights session*/

#highlights {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30rem;
}

#highlights h2 {
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 15rem;
}

.highlight-videos-row a:hover {
    opacity: 1;
}


.highlight-videos {
    width: 100%;
    height: 260rem;
    object-fit: cover;
}

.week-highlight-video {
    background-image: url("../img/match-placeholder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-color: gray;
    height: 200px;
    width: 400px;
}

/*Estatísticas*/

#statistics {
    width: 100%;
    margin-top: 95rem;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

#statistics h2 {
    font-weight: 700;
    color: #333333;
    text-align: center;
}

#statistics .statistic-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    padding-left: 7.29%;
    padding-right: 7.29%;
}

.statistic-row div h3 {
    font-weight: 400;
    width: 183rem;
}


#statistics div {
    margin-top: 15px;
}

#statistics div.statistic-data {
    background: #FFFFFF;
    border: 1px solid var(--light-gray);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    width: 183rem;
    height: 115rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

div.statistic-data p {
    font-size: 35rem;
    font-weight: 700;
    color: #333333;
}

/* =============1366p LAYOUT============= */

@media (min-width: 1366px) {

    main {
        display: flex;
        justify-content: space-between;
        margin-top: 50rem;
        padding-left: 6.73%;
        padding-right: 6.73%;
    }

    #main-news {
        width: 52.11%;
        height: 551rem;
        margin-bottom: 0;
    }

    #main-news-img {
        height: 551rem;
    }

    #main-news a h1 {
        font-size: 45rem;
        padding-left: 20rem;
        padding-right: 20rem;
        padding-bottom: 20rem;
    }

    #news {
        width: 43.65%;
        padding-left: 2.11%;
        padding-right: 2.11%;
        padding-top: 17rem;
    }

    #news h2 {
        font-size: 35rem;
        margin-bottom: 52rem;
    }

    #news .line {
        top: 78rem;
    }

    .short-info:not(:last-child) {
        margin-bottom: 42rem;
    }

    .short-info a h3{
        font-size: 20rem;
    }

    #matches{
        margin-top: 92rem;
        display: flex;
        align-items: flex-end;
        padding: 0 6.73%;
    }

    #matches-of-the-day {
        width: 28.08%;
    }

    #matches-of-the-day h2 {
        margin-bottom: 50rem;
    }

    #matches-card {
        padding: 11rem 5.72% 17rem 5.72%;
    }

    #matches-card a {
        margin-top: 22rem;
        margin-bottom: 20rem;
    }

    #matches-card a span {
        font-size: 20rem;
    }

    #main-clashes {
        width: 28.17%;
    }

    #main-clashes h2{
        margin-bottom: 50rem;
    }

    #clashes-card {
        padding: 50rem 15.01%;
    }

    .match {
        margin-bottom: 88rem;
        font-size: 25rem;
    }

    .match-flags {
        width: 26.60%;
        height: 44rem;
    }

    #half-data-cards {
        width: 28.17%;
        margin-left: 0;
        margin-right: 0;
    }

    #player-of-the-match h2{
        margin-bottom: 50rem;
    }

    #player-of-the-match .data-card {
        padding: 30rem 10.51%;
    }

    #player-profile-pic {
        width: 90rem;
        height: 90rem;
    }

    #player-first-name{
        font-size: 25rem;
    }

    #player-last-name{
        font-size: 25rem;
    }

    #player-country{
        font-size: 15rem;
    }

    #round-statistics h2{
        margin-top: 10rem;
        margin-bottom: 7rem;
    }

    #round-statistics .data-card{
        padding: 20rem 10.51%;
        height: 150rem;
    }

    .round-statistics-data:nth-child(1) {
        top: 20rem;
        left: 35rem;
    }

    .round-statistics-data:nth-child(2) {
        top: 20rem;
        right: 35rem;
    }

    .round-statistics-data:nth-child(3) {
        bottom: 20rem;
        left: 35rem;
    }

    .round-statistics-data:nth-child(4) {
        bottom: 20rem;
        right: 35rem;
    }

    .data-card .round-statistics-data p:first-child {
        font-size: 25rem;
    }

    #highlights {
        width: 100%;
        margin-top: 114rem;
        padding: 0 6.73%;
    }

    #highlights h2 {
        text-align: left;
        margin-bottom: 50rem;
    }

    .highlight-videos-row{
        display: flex;
    }

    #statistics {
        width: 100%;
        margin-top: 95rem;
        margin-bottom: 100px;
        padding: 0 6.73%;
    }

    #statistics h2{
        text-align: left;
    }

    #statistics div {
        margin-top: 0rem;
    }

    #statistics .statistic-row {
        padding: 0 16.15%;
    }

    .statistic-row div h3{
        width: 323rem;
        margin-top: 70rem;
        margin-bottom: 50rem;
    }

    #statistics div.statistic-data {
        width: 323rem;
        height: 215rem;
    }

    div.statistic-data p {
        font-size: 50rem;
    }

}