#h1 {
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 52rem;
}

#login-form {
    margin: 0 99rem 151rem 99rem;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield-label {
    font-size: 15rem;
    font-weight: 400;
    color: #333333;
    margin-bottom: 5rem;
}

.textfield-input {
    width: 100%;
    border: 1px solid #CACACA;
    font-size: 15rem;
    font-weight: 400;
    color: #333333;
    padding: 8rem 12rem;
    margin-bottom: 20rem;
}

.textfield ::placeholder {
    font-size: 15rem;
    font-weight: 400;
    color: #CACACA;
}

.btn-login {
    width: 100%;
    font-size: 15rem;
    font-weight: 700;
    color: #FFFFFF;
    background: #0B4075;
    border: none;
    padding: 8rem 12rem;
    cursor: pointer;
}

#no-account-link {
    margin-top: 15rem;
    text-align: center;
}

#no-account-link a {
    font-weight: 400;
}

/* @media only screen and (max-width: 950px){
    .input-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .login{
        flex-direction: column;
    }
    .left-login >h2{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login >h1{
        display: none;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .img-login{
        width: 50vw;
    }
    .input-login{
        width: 90%;
    }
} */