h1 {
  text-align: center;
}

section {
  text-align: center;
  border: solid #333333 1px;
}

h2 {
  font-size: 18px;
}

.titulares {
margin: auto;
}

th {
  font-size: 10px;
}

.reservas {
  margin: auto;
}

.estatisticas {
  margin: auto;
}

.titulo-titulares {
  font-size: 14px;
  text-align: center;
}

.titulo-reservas {
  font-size: 14px;
  text-align: center;
}

.titulo-estatisticas {
  font-size: 14px;
  text-align: center;
}

  