h1{
	text-align: center;
	margin-top: 23rem;
}
 
form {
	margin-left: 10.41%;
	margin-right: 10.41%;
	margin-top: 80rem;
}

fieldset{
	border: none;
}

#imageFieldset{
	display: flex;
	justify-content: space-between;
}

#imageFieldset input {
    width: 115rem;
}

#userImage{
	width: 115rem;
	height: 115rem;
	border-radius: 50%;
    margin-right: 15rem;
}

#nameFieldset{
	width: 61.31%;
}

.label{
	font-size: 12rem;
	font-weight: 400;
	display: block;
	margin-bottom: 5rem;
}

input{
	margin-bottom: 20rem;
	font-size: 12rem;
	padding: 8rem 12rem;
	color: #333333;
	border: 1px solid #CACACA;
}

#selecao-favorita{
    font-size: 12rem;
    padding: 8rem 12rem;
}

.selecao{
    background-color: #FFFFFF;
    color: #333333;
    font-size: 15rem;
}

#dateFieldset{
	display: flex;
	justify-content: space-between;
}

.container{
	width: 48.15%;
    display: flex;
    flex-direction: column;
}

#imgFieldset{
	display: none;
}

.btn{
	display: block;
}

#save-btn{
	width: 100%;
	font-size: 12rem;
	font-weight: 700;
	color: #FFFFFF;
	background: #0B4075;
	border: none;
	padding: 8rem 12rem;
	cursor: pointer;
}

#logout-btn{
	background: #FFFFFF;
	border: none;
	margin-left: auto;
	margin-right: auto;
	padding: 8rem 12rem;
	cursor: pointer;
}

#logout-btn a{
	font-weight: 400;
}

#save-exit{
    margin-bottom: 20rem;
}

@media (min-width: 1366px){
    #desktop-flex{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    #dateFieldset{
        width: 836px;
    }
    #nameFieldset{
        width: 375px;
        margin-left: 95rem;
        margin-right:45rem ;
    }
    fieldset{
        width: 375rem;
    }
    #userImage{
        width: 232rem;
        height: 232rem;
        margin-right: 0;
    }
    #imageFieldset{
        align-items: center;
        margin-bottom: 0;
    }
    #imageFieldset input {
        width: 100%;
    }
    input{
        font-size: 15rem;
    }
    #selecao-favorita{
        font-size: 15rem;
    }
    #save-btn{
        font-size: 15rem;
    }
    .label{
        font-size: 15rem;
    }
    .container{
        width: 233rem;
        height: 74rem;
        margin-left:324rem;
    }
    .container-2{
        margin-left: 190rem;
        
    }
    #save-btn{
        margin-left: 324rem;
        width: 375rem;
        height: 40rem;
    }
    #logout-btn{
        margin-left: 120rem;
    }
    #save-exit{
        display: flex;
        margin-bottom: 113rem;

    }

}