#title-stats {
    margin-top: 15rem;
    margin-bottom: 10rem;
    text-align: center;
    font-weight: bold;
    font-size: 30rem;
    border-bottom: 1px solid #CACACA;
    margin-left: 25%;
    margin-right: 25%;
}

.stats-name {
    font-weight: bold;
    font-size: 25rem;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20rem;
    margin-bottom: 10rem;
}

#first-table {
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #CACACA;
    margin-bottom: 60rem;
}

.player-pic {
    width: 80rem;
    height: 80rem;
    border-radius: 50%;
}

.player {
    font-size: 16rem;
}

.player-2 {
    font-weight: bold;
    font-size: 17rem;
}

.games {
    font-size: 17rem;
}

.games-bld{
    font-size: 17rem;
    font-weight: bold;
}

.stats-results {
    font-size: 26rem;
    font-weight: bold;
}

@media (max-width: 999px) {
    .player {
        font-size: 10rem;
    }
    
    .player-2 {
        font-weight: bold;
        font-size: 11rem;
    }
    
    .games {
        font-size: 11rem;
    }
    
    .games-bld{
        font-size: 11rem;
        font-weight: bold;
    }
    
    .stats-results {
        font-size: 13rem;
        font-weight: bold;
    }

    .player-pic {
        width: 60rem;
        height: 60rem;
        border-radius: 50%;
    }
}