<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
        <link rel="stylesheet" href="/css/404.css">
        <title>404 | Resultados da Copa</title>
</head>

<body>
    <%- include('./partials/header')%>
        <section>
            <h1>404</h1>
            <img src="img/404.svg" alt="Jogador acertando cobrança de pênalti no travessão">
            <h2>Parece que você chutou a bola muito longe e não conseguimos encontrar ela para você.</h2>
            <p>Que tal ir para nossa página inicial?</p>
            <a id="link" href="/">
                Página inicial
            </a>
        </section>
        <%- include('./partials/footer')%>
</body>

</html>