<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <%- include('./partials/header')%>
    <h1 id="h1">Crie sua conta no Resultados da Copa</h1>
    <div>
    <form id="cadastro-form" action="/cadastro" method="post">
        <div class="textfield">
            <label class="textfield-label" for="name">Nome completo:</label>
            <input class="textfield-input" type="name" name="nome" id="nome" placeholder="Nome completo">
        </div>
        <div>
            <label class="textfield-label" for="e-mail">E-mail:</label>
            <input  class="textfield-input" type="e-mail" name="email" id="email" placeholder="E-mail">
        </div>
        <div class="textfield">
            <label class="textfield-label" for="senha">Senha:</label>
            <input class="textfield-input" type="password" name="senha" placeholder="Senha">
        </div>

        <button type="submit" class="btn-login">CADASTRAR</button>
    </form>
    </div>
    <%- include('./partials/footer')%>
</body>
</html>