<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./partials/head')%>
        <link rel="stylesheet" href="./css/login.css">
        <title>Login | Resultados da Copa</title>
</head>


<body>
    <%- include('./partials/header')%>

    <h1 id="h1">Acesse sua conta no Resultados da Copa</h1>

    <form id="login-form" action="/login" method="post">

        <div class="textfield">
            <label class="textfield-label" for="e-mail">E-mail:</label>
            <input class="textfield-input" type="e-mail" name="email" id="email" placeholder="E-mail">
        </div>

        <div class="textfield">
            <label class="textfield-label" for="senha">Senha:</label>
            <input class="textfield-input" type="password" name="senha" placeholder="Senha">
        </div>

        <button type="submit" class="btn-login">ENTRAR</button>

        <p id="no-account-link">
            Não possui uma conta?
            <a href="/cadastro">CADASTRE-SE</a>
        </p>
    </form>

    <%- include('./partials/footer')%>
</body>

</html>