<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="./css/login.css">
    <title>Login</title>
</head>


<body>
    <div class="login">
        <div class="left-login">
            <h2>Resultados da Copa</h2>
            <img class="img-login" src="./img/img-cadastro.svg"
                alt="imagem de dois jogadores de futebol proximo ao gol">
        </div>

        <div class="right-login">
            <div class="input-login">
                <h1>LOGIN</h1>

                <form action="/login" method="post">

                    <div class="textfield">
                        <label for="e-mail">E-mail</label>
                        <input type="e-mail" name="email" id="email" placeholder="E-mail">
                    </div>

                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha">
                    </div>

                    <button type="submit" class="btn-login">Entrar</button>
                </form>
            </div>
        </div>
    </div>



    <script src="./JS/header.js"></script>

</body>

</html>