<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/partida.css">
</head>

<body>

    <h1>FASE DE GRUPOS</h1>

    <main>
        15/12/2022 - Jadan Arena
        <h2>WWW 00 x 00 WWW</h2>
        Grupo A
    </main>

    <table class="titulares">
        <tr>
            <td></td>
            <td>TITULARES</td>
            <td></td>
        </tr>
        <tr>
            <td>GOLEIRO</td>
            <td></td>
            <td>GOLEIRO</td>
        </tr>
        <tr>
            <td>LATERAL ESQ</td>
            <td></td>
            <td>LATERAL ESQ</td>
        </tr>
        <tr>
            <td>ZAGUEIRO</td>
            <td></td>
            <td>ZAGUEIRO</td>
        </tr>
        <tr>
            <td>ZAGUEIRO</td>
            <td></td>
            <td>ZAGUEIRO</td>
        </tr>
        <tr>
            <td>LATERAL DIR</td>
            <td></td>
            <td>LATERAL DIR</td>
        </tr>
        <tr>
            <td>MEIA 1</td>
            <td></td>
            <td>MEIA 1</td>
        </tr>
        <tr>
            <td>MEIA 2</td>
            <td></td>
            <td>MEIA 2</td>
        </tr>
        <tr>
            <td>MEIA 3</td>
            <td></td>
            <td>MEIA 3</td>
        </tr>
        <tr>
            <td>ATACANTE 1</td>
            <td></td>
            <td>ATACANTE 1</td>
        </tr>
        <tr>
            <td>ATACANTE 2</td>
            <td></td>
            <td>ATACANTE 2</td>
        </tr>
        <tr>
            <td>ATACANTE 3</td>
            <td></td>
            <td>ATACANTE 3</td>
        </tr>

    </table>

</body>

</html>