<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <!-- <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="/css/partida.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="fase">
            <h1>FASE DE GRUPOS</h1>
        </div>
        <div class="all" align="center">
            <div class="stadium">Al Bayt Stadium - Al Khor <p></p> 
                <h2>Senegal <img src="http://geo5.net/imagens/bandeira-do-senegal-2000px.png" alt="bandeira do senegal"
                        width="40px" title="Senegal"> 0 - 0 <img
                        src="https://www.holandaevoce.nl/binaries/large/content/gallery/nl-netherlandsandyou/content-afbeeldingen/vlag-nederland.png"
                        alt="bandeira da holanda" width="40px" title="Holanda"> Holanda</h2>
                21-11-2022
            </div>
    </main>
    <div class="stats">
        <table>
            <tr>
                <td>SENEGAL</td>
                <td class="bold-td">X</td>
                <td>HOLANDA</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Chutes</td>
                <td class="direita-stats">0</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Chutes a gol</td>
                <td class="direita-stats">0</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Passes</td>
                <td class="direita-stats">0</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Precisão de passe</td>
                <td class="direita-stats">0</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Posse de bola</td>
                <td class="direita-stats">0</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Faltas</td>
                <td class="direita-stats">0</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Cartões amarelos</td>
                <td class="direita-stats">0</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Cartões vermelhos</td>
                <td class="direita-stats">0</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Impedimentos</td>
                <td class="direita-stats">0</td>
            </tr>
            <tr>
                <td>0</td>
                <td class="bold-td">Escanteios</td>
                <td class="direita-stats">0</td>
            </tr>
        </table>
    </div>
        
                <div>
                    <table class="table_sen_titulares">
                        <tr>
                            <td>Jog.1</td>
                        </tr>
                        <tr>
                            <td>Jog.2</td>
                        </tr>
                        <tr>
                            <td>Jog.3</td>
                        </tr>
                        <tr>
                            <td>Jog.4</td>
                        </tr>
                        <tr>
                            <td>Jog.5</td>
                        </tr>
                        <tr>
                            <td>Jog.6</td>
                        </tr>
                        <tr>
                            <td>Jog.7</td>
                        </tr>
                        <tr>
                            <td>Jog.8</td>
                        </tr>
                        <tr>
                            <td>Jog.9</td>
                        </tr>
                        <tr>
                            <td>Jog.10</td>
                        </tr>
                        <tr>
                            <td>Jog.11</td>
                        </tr>
                    </table> <br>
                    <strong>Técnico</strong> <br>
                    Téc. Senegal
                </div>
                <div>
                    <table class="table_hol_titulares">
                        <tr>
                            <td>Jog.1</td>
                        </tr>
                        <tr>
                            <td>Jog.2</td>
                        </tr>
                        <tr>
                            <td>Jog.3</td>
                        </tr>
                        <tr>
                            <td>Jog.4</td>
                        </tr>
                        <tr>
                            <td>Jog.5</td>
                        </tr>
                        <tr>
                            <td>Jog.6</td>
                        </tr>
                        <tr>
                            <td>Jog.7</td>
                        </tr>
                        <tr>
                            <td>Jog.8</td>
                        </tr>
                        <tr>
                            <td>Jog.9</td>
                        </tr>
                        <tr>
                            <td>Jog.10</td>
                        </tr>
                        <tr>
                            <td>Jog.11</td>
                        </tr>
                    </table>
                    <br>
                    <strong>Técnico</strong>
                    <p></p>
                    Téc. Holanda
                </div>
           
        <div> <strong class="strong_banco">Reservas</strong>
                <div>
                    <table class="table_sen_reservas">
                        <tr>
                            <td>Jog.1</td>
                        </tr>
                        <tr>
                            <td>Jog.2</td>
                        </tr>
                        <tr>
                            <td>Jog.3</td>
                        </tr>
                        <tr>
                            <td>Jog.4</td>
                        </tr>
                        <tr>
                            <td>Jog.5</td>
                        </tr>
                        <tr>
                            <td>Jog.6</td>
                        </tr>
                        <tr>
                            <td>Jog.7</td>
                        </tr>
                        <tr>
                            <td>Jog.8</td>
                        </tr>
                    </table> <br>
                </div>
                <div>
                    <table class="table_hol_reservas">
                        <tr>
                            <td>Jog.1</td>
                        </tr>
                        <tr>
                            <td>Jog.2</td>
                        </tr>
                        <tr>
                            <td>Jog.3</td>
                        </tr>
                        <tr>
                            <td>Jog.4</td>
                        </tr>
                        <tr>
                            <td>Jog.5</td>
                        </tr>
                        <tr>
                            <td>Jog.6</td>
                        </tr>
                        <tr>
                            <td>Jog.7</td>
                        </tr>
                        <tr>
                            <td>Jog.8</td>
                        </tr>
                    </table> <br>
                </div>
            </div>
   
    <br>
    <footer>

    </footer>
    <script src="./JS/header.js"></script>
</body>

</html>