<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/partida.css">
</head>

<body>

    <h1>FASE DE GRUPOS</h1>

    <main>
        15/12/2022-Jadan Arena 
        <h2>WWW 00 x 00 WWW</h2> 
        Grupo A
    </main>

    <div class="titulares">TITULARES</div>

        <table style="text-align: center;">
            <tr>
                <td>s</td>
                <td>s</td>
                <td>s</td>
            </tr>
        </table>

</body>

</html>