<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/partida.css">
</head>

<body>

    <h1>FASE DE GRUPOS</h1>

    <section>
        15/12/2022 - Jadan Arena
        <h2>WWW 00 x 00 WWW</h2>
        Grupo A
    </section>

    <div class="titulo-titulares">Titulares</div>

    <table class="titulares">
        <tr>
            <th>SELELÃO A</th>
            <th></th>
            <th>SELEÇÃO B</th>
        </tr>
        <tr>
            <th>Jogador 1</th>
            <th></th>
            <th>Jogador 1</th>
        </tr>
        <tr>
            <th>Jogador 2</th>
            <th></th>
            <th>Jogador 2</th>
        </tr>
        <tr>
            <th>Jogador 3</th>
            <th></th>
            <th>Jogador 3</th>
        </tr>
        <tr>
            <th>Jogador 4</th>
            <th></th>
            <th>Jogador 4</th>
        </tr>
        <tr>
            <th>Jogador 5</th>
            <th></th>
            <th>Jogador 5</th>
        </tr>
        <tr>
            <th>Jogador 6</th>
            <th></th>
            <th>Jogador 6</th>
        </tr>
        <tr>
            <th>Jogador 7</th>
            <th></th>
            <th>Jogador 7</th>
        </tr>
        <tr>
            <th>Jogador 8</th>
            <th></th>
            <th>Jogador 8</th>
        </tr>
        <tr>
            <th>Jogador 9</th>
            <th></th>
            <th>Jogador 9</th>
        </tr>
        <tr>
            <th>Jogador 10</th>
            <th></th>
            <th>Jogador 10</th>
        </tr>
        <tr>
            <th>Jogador 11</th>
            <th></th>
            <th>Jogador 11</th>
        </tr>
        <tr>
            <th>TÉCNICO</th>
            <th></th>
            <th>TÉCNICO</th>
        </tr>
    </table>

    <div class="titulo-reservas">Reservas</div>

    <table class="reservas">
        <tr>
            <th>SELELÃO A</th>
            <th></th>
            <th>SELEÇÃO B</th>
        </tr>
        <tr>
            <th>Jogador 1</th>
            <th></th>
            <th>Jogador 1</th>
        </tr>
        <tr>
            <th>Jogador 2</th>
            <th></th>
            <th>Jogador 2</th>
        </tr>
        <tr>
            <th>Jogador 3</th>
            <th></th>
            <th>Jogador 3</th>
        </tr>
        <tr>
            <th>Jogador 4</th>
            <th></th>
            <th>Jogador 4</th>
        </tr>
        <tr>
            <th>Jogador 5</th>
            <th></th>
            <th>Jogador 5</th>
        </tr>
        <tr>
            <th>Jogador 6</th>
            <th></th>
            <th>Jogador 6</th>
        </tr>
        <tr>
            <th>Jogador 7</th>
            <th></th>
            <th>Jogador 7</th>
        </tr>
    </table>

    <div class="titulo-estatisticas">Estatísticas</div>

    <table class="estatisticas">
        <tr>
            <th>SELELÃO A</th>
            <th></th>
            <th>SELEÇÃO B</th>
        </tr>
        <tr>
            <th>0</th>
            <th>Faltas</th>
            <th>0</th>
        </tr>
        <tr>
            <th>0</th>
            <th>Impedimentos</th>
            <th>0</th>
        </tr>
        <tr>
            <th>0</th>
            <th>Escanteios</th>
            <th>0</th>
        </tr>
        <tr>
            <th>0</th>
            <th>Chutes</th>
            <th>0</th>
        </tr>
        <tr>
            <th>0</th>
            <th>Cartões Amarelos</th>
            <th>0</th>
        </tr>
        <tr>
            <th>0</th>
            <th>Cartões Vermelhos</th>
            <th>0</th>
        </tr>
       
    </table>

</body>

</html>