<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('./partials/head') %>
		<link rel="stylesheet" href="./css/perfil.css">

		<title>Perfil</title>
</head>

<body>


	<h1>Perfil</h1>
	<form action="/perfil" method="POST" enctype="multipart/form-data">

		<fieldset id="imageFieldset">
			<img id="userImage"
				src="https://conteudo.imguol.com.br/c/entretenimento/f9/2019/11/25/o-personagem-apelidado-de-baby-yoda-de-guerra-nas-estrelas-star-wars-1574694887604_v2_450x337.jpg"
				alt="User">

			<fieldset id="nameFieldset">
				<label class="label">Nome completo</label>
				<input type="text" name="name" autofocus>

				<label class="label">Nome de usuário</label>
				<input type="text" name="username">
			</fieldset>

		</fieldset>

		<label class="label">E-mail</label>
		<input type="email" name="email">

		<label class="label">Senha</label>
		<input type="password" name="password">

		<fieldset id="dateFieldset">
			<div class="container">
				<label class="label">Seleção favorita</label>
				<input type="text" name="team">
			</div>
	
	        <div class="container">
				<label class="label">Data de nascimento</label>
				<input type="date" name="date">
			</div>	
		</fieldset>

		<fieldset id="imgFieldset">
			<label class="label">foto do perfil</label>
			<input type="file" name="imageprofile">
		</fieldset>

		<fieldset>
			<button class="btn" id="save-btn" type="submit">SALVAR</button>
			<button class="btn" id="logout-btn" type="submit" formaction="/logout">
			<a>
				SAIR
			</a>	
			</button>
		</fieldset>
	</form>

</body>

</html>