<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="./css/resultados.css">
    <link rel="stylesheet" href="./css/estatisticas.css">
    <title>Resultados da Copa</title>
</head>
<body>
    <%- include('./partials/header')%>

    <main>

        <section id="competicao">
            <img src="./img/world-cup-2022-logo-0-1536x1536.png" alt="Logotipo oficial da copa do mundo do qatar 2022">
            <h1>WORLD CUP QATAR 2022</h1>
        </section>

        <section id="fase">
            <a href="faseDeGrupos.html" class="direita"><img src="./img/pngegg.png" alt="seta que direciona a página da fase de grupos"></a>
            <h2>OITAVAS DE FINAL</h2>
            <a href="eliminatoria.html"><img src="./img/pngegg.png" alt="seta que direciona a fase eliminatoria da competição"></a>
        </section>

        <section>
            <header class="eliminatorias">
                <h2>TABELA</h2>
            </header>
            <div class="confronto-1">
            <div class="partida"> 
                <div class="info-jogos">
                    <span class="estadio">xxxxxxxxxxxxx</span>
                    <span class="data-jogo">00/00/0000</span>
                    <span class="horario">00h00m</span>
                </div>

             <div class="placar">
                <div class="mandante">
                    <span class="primeiro-do-grupo">1º A</span>
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                </div>

                <div class="placar-box">
                    <span class="valor-mandante"></span>
                    <span class="versus">x</span>
                    <span class="valor-visitante"></span>
                </div>

                <div class="visitante">
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                    <span class="segundo-do-grupo">2º B</span>
                </div>
             </div>
            </div>
        </div>

        <div class="confronto-2">
            <div class="partida"> 
                <div class="info-jogos">
                    <span class="estadio">xxxxxxxxxxxxx</span>
                    <span class="data-jogo">00/00/0000</span>
                    <span class="horario">00h00m</span>
                </div>

             <div class="placar">
                <div class="mandante">
                    <span class="primeiro-do-grupo">1º B</span>
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                </div>

                <div class="placar-box">
                    <span class="valor-mandante"></span>
                    <span class="versus">x</span>
                    <span class="valor-visitante"></span>
                </div>

                <div class="visitante">
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                    <span class="segundo-do-grupo">2º A</span>
                </div>
             </div>
            </div>
        </div>

        <div class="confronto-3">
            <div class="partida"> 
                <div class="info-jogos">
                    <span class="estadio">xxxxxxxxxxxxx</span>
                    <span class="data-jogo">00/00/0000</span>
                    <span class="horario">00h00m</span>
                </div>

             <div class="placar">
                <div class="mandante">
                    <span class="primeiro-do-grupo">1º C</span>
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                </div>

                <div class="placar-box">
                    <span class="valor-mandante"></span>
                    <span class="versus">x</span>
                    <span class="valor-visitante"></span>
                </div>

                <div class="visitante">
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                    <span class="segundo-do-grupo">2º D</span>
                </div>
             </div>
            </div>
        </div>

        <div class="confronto-4">
            <div class="partida"> 
                <div class="info-jogos">
                    <span class="estadio">xxxxxxxxxxxxx</span>
                    <span class="data-jogo">00/00/0000</span>
                    <span class="horario">00h00m</span>
                </div>

             <div class="placar">
                <div class="mandante">
                    <span class="primeiro-do-grupo">1º D</span>
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                </div>

                <div class="placar-box">
                    <span class="valor-mandante"></span>
                    <span class="versus">x</span>
                    <span class="valor-visitante"></span>
                </div>

                <div class="visitante">
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                    <span class="segundo-do-grupo">2º C</span>
                </div>
             </div>
            </div>
        </div>

        <div class="confronto-5">
            <div class="partida"> 
                <div class="info-jogos">
                    <span class="estadio">xxxxxxxxxxxxx</span>
                    <span class="data-jogo">00/00/0000</span>
                    <span class="horario">00h00m</span>
                </div>

             <div class="placar">
                <div class="mandante">
                    <span class="primeiro-do-grupo">1º E</span>
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                </div>

                <div class="placar-box">
                    <span class="valor-mandante"></span>
                    <span class="versus">x</span>
                    <span class="valor-visitante"></span>
                </div>

                <div class="visitante">
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                    <span class="segundo-do-grupo">2º F</span>
                </div>
             </div>
            </div>
        </div>

        <div class="confronto-6">
            <div class="partida"> 
                <div class="info-jogos">
                    <span class="estadio">xxxxxxxxxxxxx</span>
                    <span class="data-jogo">00/00/0000</span>
                    <span class="horario">00h00m</span>
                </div>

             <div class="placar">
                <div class="mandante">
                    <span class="primeiro-do-grupo">1º F</span>
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                </div>

                <div class="placar-box">
                    <span class="valor-mandante"></span>
                    <span class="versus">x</span>
                    <span class="valor-visitante"></span>
                </div>

                <div class="visitante">
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                    <span class="segundo-do-grupo">2º E</span>
                </div>
             </div>
            </div>
        </div>

        <div class="confronto-7">
            <div class="partida"> 
                <div class="info-jogos">
                    <span class="estadio">xxxxxxxxxxxxx</span>
                    <span class="data-jogo">00/00/0000</span>
                    <span class="horario">00h00m</span>
                </div>

             <div class="placar">
                <div class="mandante">
                    <span class="primeiro-do-grupo">1º G</span>
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                </div>

                <div class="placar-box">
                    <span class="valor-mandante"></span>
                    <span class="versus">x</span>
                    <span class="valor-visitante"></span>
                </div>

                <div class="visitante">
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                    <span class="segundo-do-grupo">2º H</span>
                </div>
             </div>
            </div>
        </div>

        <div class="confronto-8">
            <div class="partida"> 
                <div class="info-jogos">
                    <span class="estadio">xxxxxxxxxxxxx</span>
                    <span class="data-jogo">00/00/0000</span>
                    <span class="horario">00h00m</span>
                </div>

             <div class="placar">
                <div class="mandante">
                    <span class="primeiro-do-grupo">1º H</span>
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                </div>

                <div class="placar-box">
                    <span class="valor-mandante"></span>
                    <span class="versus">x</span>
                    <span class="valor-visitante"></span>
                </div>

                <div class="visitante">
                    <img class="escudo" src="https://s.glbimg.com/es/sde/f/organizacoes/escudo_default_65x65.png" alt="">
                    <span class="segundo-do-grupo">2º G</span>
                </div>
             </div>
            </div>
        </div>
        </section>

        <section id="artilheiros">

            <h2>PRINCIAIS ARTILHEIROS</h2>
        <nav class="nomes-gols">
            <ul class="nome-jogador">
                <p>Nome</p>
                <li>Lionel Messi</li>
                <li>Cristiano Ronaldo</li>
                <li>Mbappe</li>
                <li>Neymar Jr</li>
                <li>Lewandovski</li>
                <li>Cavani</li>
                <li>Mané</li>
                <li>Luis Suarez</li>
                <li>Son</li>
            </ul>
        
            <ul class="quantidade-gols">
                <p>Gols</p>
                <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>
                <li>0</li>
            </ul>
        </nav>
        </section>

    </main>

    <%- include('./partials/footer')%>

</body>
</html>
   