<footer>
    <div id="footer-bg-color">
        <div id="footer-header">
            <img id="footer-logo" src="/img/logo.png" alt="Logo - Resultados da Copa">
            <h2 id="footer-h2">Resultados da Copa</h2>
        </div>
        <div id="footer-links">
            <div class="footer-links">
                <h3 class="footer-h3">Project Links</h3>
                <a class="footer-link" href="https://github.com/Resultados-da-Copa">Github</a>
                <a class="footer-link" href="https://www.figma.com/file/XFTmotAV2c0fNzk7f7VqCm/Resultados-da-Copa?node-id=0%3A1">Figma</a>
            </div>
            <div class="footer-links">
                <h3 class="footer-h3">Dev Team</h3>
                <a class="footer-link" href="https://github.com/crisleyhguimaraes">Crisley</a>
                <a class="footer-link" href="https://github.com/Gobain">Gobain</a>
                <a class="footer-link" href="https://github.com/Newton-Junior372">Newton Jr.</a>
                <a class="footer-link" href="https://github.com/tiagodpessoa">Tiago Pessoa</a>
            </div>
        </div>
        <p id="footer-copyright">Resultados da Copa © 2022</p>
    </div>
</footer>