<footer>
    <div id="footer-bg-color">
        <div id="footer-header">
            <img id="footer-logo" src="./img/logo.png" alt="Logo - Resultados da Copa">
            <h2 id="footer-h2">Resultados da Copa</h2>
        </div>
        <div id="footer-links">
            <div class="footer-links">
                <h3 class="footer-h3">Project Links</h3>
                <a class="footer-link" href="">Github</a>
                <a class="footer-link" href="">Figma</a>
            </div>
            <div class="footer-links">
                <h3 class="footer-h3">Dev Team</h3>
                <a class="footer-link" href="">Crisley</a>
                <a class="footer-link" href="">Gobain</a>
                <a class="footer-link" href="">Newton Jr.</a>
                <a class="footer-link" href="">Tiago Pessoa</a>
            </div>
        </div>
        <p id="footer-copyright">Resultados da Copa © 2022</p>
    </div>
</footer>