<header>
  <nav class="header">
    <a class="logo" href="/">resultadosdacopa.com.br</a>
    <div class="mobile-menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="nav-list">
      <li><a class="header-link" href="/">Home</a></li>
      <li><a class="header-link" href="/estatisticas">Estatísticas</a></li>
      <li><a class="header-link" href="/resultados">Resultados</a></li>
      <li><a class="header-link" href="/perfil">Perfil</a></li>
      <li><a class="header-link" href="/login">Login</a></li>
    </ul>
  </nav>
</header>