<header>
  <nav class="header">
    <a class="logo" href="/">
      <img src="./img/logo.png" alt="kaka">
    </a>
    <div class="header-nav">
      <ul class="visible-ul">
        <li><a class="header-link" href="/estatisticas">Estatísticas</a></li>
        <li><a class="header-link" href="/resultados">Resultados</a></li>
      </ul>
      <ul class="nav-list">
        <li><a class="header-link" href="/login">Login</a></li>
        <li><a class="header-link" href="/cadastro">Cadastro</a></li>
      </ul>
    </div>
    <div class="mobile-menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</header>